* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #09090b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

.navbar {
    width: 600px;
    margin: 40px auto 0;
    padding: 4px 8px;
    border: 1px solid gray;
    border-radius: 50px;
    position: fixed;
    z-index: 1000;
}

.about, .home, .experience, .testimonials, .contact {
    width: 100%;
    height: 400px;
}

.sections {
    padding-top: 100px;
}